<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>superSaijan</title>
</head>
<body>
    <h1>SALUDOS</h1>
    <nav>
        <button>Ingreser usuario</button>
        <button>Ver Carrito</button>
        <h1>Tiernda de Zapatillas</h1>
    </nav>
    <section>
       <h2>Zapatilla de futbol</h2>
       <ul>
        <li> 
            <a href="www.google.com">Google</a>
        </li>
        <li>
            <a href="www.escritorcode.com">Escritorcode</a>
        </li>
       </ul>
    </section>
    <input type="password" > 
</body>
</html>